Options +ExecCGI
AddHandler fcgid-script .fcgi
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !=/home4/specica9/public_html/coltenkrauter/dev/codepuller/run.fcgi
RewriteRule ^(.*)$ run.fcgi/$1 [QSA,L]
